.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 80px 10%;
    width: 100%;
}

.contact-email-container,
.contact-phone-container,
.contact-title,
.contact-description {
    margin-bottom: 20px;
}

.contact-email-container,
.contact-phone-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-email-icon,
.contact-phone-icon {
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

.contact-title {
    font-weight: 700;
}