.project {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card {
  width: 60%;
  height: 80%;
  background-color: aliceblue;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.project-line1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-hr {
  flex-grow: 1;
  border: 0;
  height: 1px;
  background-color: grey;
  margin: 0 10px;
}

.project-line3 {
  line-height: 1.5;
}

.project-link {
  text-decoration: none;
}